[Desktop Entry]
Categories=Settings;HardwareSettings;
Encoding=UTF-8
Name=Polychromatic Controller
GenericName=Razer Device Manager
Exec=polychromatic-controller
Icon=polychromatic-controller
Terminal=false
Type=Application
Version=1.0
Comment=Manage connected Razer peripherals
Comment[en_GB]=Manage connected Razer peripherals
