[Desktop Entry]
Type=Application
Version=1.0
Name=Polychromatic Autostart
Comment=Automatically start Polychromatic components at login
Icon=polychromatic
Exec=polychromatic-helper --autostart
Encoding=UTF-8
Terminal=false
Categories=
