[Desktop Entry]
Type=Application
Version=1.0
Name=Polychromatic
GenericName=Device Manager
Comment=Control and manage connected lighting peripherals
Icon=polychromatic
Exec=polychromatic-controller
Encoding=UTF-8
Terminal=false
Categories=Settings;HardwareSettings;
