[Desktop Entry]
Categories=Settings;HardwareSettings;
Encoding=UTF-8
Name=Polychromatic Tray Applet
GenericName=Razer Device Manager
Exec=polychromatic-tray-applet
Icon=polychromatic
Terminal=false
Type=Application
Version=1.0
Comment=Control Razer devices from the tray
Comment[en_GB]=Control Razer devices from the tray
