$colour-picker-left-width: 165px; /* Also to set in KellyColorPicker() */

#colour-picker-container {
    display: flex;
    flex-direction: row;

    #colour-picker {
        cursor: crosshair;
    }

    #colour-input {
        font-family: $font-mono;
        font-size: 1.25em;
        text-align: center;
        margin-top: 0.5em;
        padding: 0.5em 0;
        width: 160px;
    }

    .left {
        width: $colour-picker-left-width;
    }

    .right {
        width: calc(100% - #{$colour-picker-left-width});
        margin-left: 2em;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    &.greenscale {
        /* mix-blend-mode not supported, colour wheel hidden as cannot apply green overlay */
        canvas {
            display: none;
        }
    }
}

.colour-box {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    border: 1px solid #404040;
}

.colour-input-rgb {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;

    input {
        position: relative;
        background: transparent;
        border: 1px solid transparent;
        width: ($colour-picker-left-width / 3) - 5px;
        height: 20px;
        padding: 5px 1.5px;
        text-align: center;
    }
}

#colour-input-red:hover {
    border-color: red;
}

#colour-input-green:hover {
    border-color: lime;
}

#colour-input-blue:hover {
    border-color: blue;
}

.saved-colours-list {
    display: flex;
    flex-wrap: wrap;
    align-content: start;

    .colour-name {
        margin: auto 0;
    }

    .colour-btn {
        background-color: transparent;
        border: 1px solid transparent;
        display: flex;
        text-align: left;
        width: calc(33% - 1em);
        margin: 0.25em;
        padding: 0.25em;

        &:hover,
        &:focus {
            background-color: transparent;
            border-color: $secondary-colour;
            color: white;
        }

        &.active {
            background-color: $secondary-colour;
            border-color: $accent-colour;
            color: white;
        }

        &:active {
            background-color: $accent-colour;
            color: black;
        }
    }
}

.saved-colours-editor {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: auto;

    .save-icon {
        height: 20px;
        width: 20px;
        margin: 5px 10px 5px 0;
    }
}

#new-colour-name {
    height: 20px;
    width: calc(100% - 120px);
}

#new-colour-save {
    margin-left: 5px;
}

#new-colour-save,
#new-colour-del {
    padding: 0;
    height: 30px;
    width: 40px;

    svg {
        height: 15px;
        width: 15px;

        path {
            fill: $text-colour;
        }
    }

    &.disabled {
        svg path {
            fill: $disabled-colour;
        }
    }
}
