.common-info {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 8em;
    width: 100%;
    background: $bg-colour-secondary;
    margin-bottom: 1em;

    #main-image {
        background-size: 7em;
        background-repeat: no-repeat;
        background-position: center;
        width: 8em;
        height: 8em;
        margin: 0 0.5em;
    }

    #main-text {
        display: flex;
        flex-direction: column;

        h3 {
            margin-top: auto;
        }

        *:last-child {
            margin-bottom: auto;
        }
    }
}

.common-unknown {
    text-align: center;

    img {
        display: inline-block;
        margin: auto;
        margin-top: 2em;
    }

    .details {
        padding: 0 2em;

        h2 {}
        p {}
        button {}
    }

    /* For tabs that do not auto-select the first item */
    &.passive {
        img {
            height: 100px;
            width: 100px;
            filter: grayscale(1) brightness(0.5);
            opacity: 0.75;
        }

        .details {
            h2 {
                color: $hover-grey;
            }
        }
    }
}

.common-right-actions {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: auto;
    margin-right: 1em;

    button {
        margin-top: 0.5em;
    }
}
