/* Control */
.icon-selector {
    .current-icon {
        background: $bg-colour-secondary;
        display: inline-block;
        padding: 4px;
    }

    .current-icon-preview {
        max-height: 32px;
        max-width: 32px;
        height: 100%;
        width: 100%;
    }
}

/* Dialog Selection */
.icon-picker-container {
    display: flex;
    flex-direction: row;
}

.icon-picker-content {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 25em;
    min-height: 8em;
    max-height: 18em;
    padding: 0 4px;
    overflow-y: auto;
    position: relative;

    .icon {
        border: 1px solid transparent;
        height: 3em;
        width: 3em;
        padding: 0;
        margin: 1px;
        position: relative;

        img {
            max-height: 2em;
            max-width: 2em;
        }

        &:hover,
        &:focus {
            border-color: $accent-colour;
        }

        &.active {
            background: $secondary-colour;
        }

        /* Add custom icon */
        &.add {
            border: 1px dashed $disabled-colour;
            background: transparent;
            padding: 0.25em;

            svg path {
                fill: $disabled-colour;
            }

            &:hover,
            &:active {
                border-color: $accent-colour;

                svg path {
                    fill: $accent-colour;
                }
            }

            &:active {
                border-style: solid;
                background: $secondary-colour;
            }
        }

        /* Delete custom icon */
        .delete {
            position: absolute;
            top: 0em;
            right: 0em;
            opacity: 0;
            visibility: hiddden;
            padding: 0.1em;
            background: darkred;

            svg {
                height: 0.6em;
                width: 0.6em;

                path {
                    fill: white;
                }
            }
        }

        &.delete-hover {
            border-color: red;

            .delete,
            &:active {
                background: red;
            }
        }

        &:hover,
        &:focus {
            .delete {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
