.program-logo {
    margin: 1em;

    img {
        display: inline-block;
        max-height: 50px;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        margin: 0em 0.2em;
        color: $accent-colour;
        font-size: 32px;
        vertical-align: middle;
    }
}

.program-links {
    margin: 0 5em;
}

#tray-icon-preview {
    max-height: 24px;
    max-width: 24px;
}

#saved-colours {
    margin: 0 2em;
    width: auto;

    .saved-row {
        margin: 4px 0;
    }

    .name,
    .colour-selector,
    .options {
        display: inline-block;
        vertical-align: middle;
    }

    .name {
        p {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        input {
            width: 175px;
        }
    }

    .colour-selector {
        margin: 0 5px;
    }

    .options {
        button {
            height: $button-height;
            width: $button-height + 10px;
            padding-left: 6px;
            padding-right: 6px;
        }
    }
}
