.device-overview-container {
    display: block;

    .device {
        margin-bottom: 2em;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        /* Device image */
        .device-image {
            width: 10em;
            text-align: center;

            img {
                max-height: 8em;
                max-width: 8em;
                padding: 0 1em;
            }
        }

        .device-details {
            vertical-align: middle;
            max-width: calc(100% - 10em - 16em);

            /* Device title */
            h3 {
                margin: 0;
            }

            /* Device serial */
            code {
                background: transparent;
                color: $text-colour;
                margin: 1em 0;
                padding: 0;
                opacity: 0.5;
                -webkit-user-select: none;
                pointer-events: none;
            }

            /* Device status */
            .statuses {
                display: block;
            }

            .status {
                display: inline-block;
                margin-right: 1em;

                img,
                span {
                    display: inline-block;
                    padding-right: 0.25em;
                    vertical-align: middle;
                }

                + .status {
                    margin-right: 1em;
                }
            }
        }

        .device-actions {
            float: right;
            text-align: right;
            margin: 0.5em 1em;
            max-width: 16em;

            button {
                margin-left: 0.5em;
                margin-bottom: 0.5em;
            }
        }
    }
}

#more-details-btn {
    position: absolute;
    right: 0.5em;
    top: 1em;
}
