[Desktop Entry]
Type=Application
Version=1.0
Name=Polychromatic Autostart
Name[zh_CN]=Polychromatic 自启动程序
Comment=Automatically start Polychromatic components at login
Comment[zh_CN]=登录时自动启动 Polychromatic 组件
Icon=polychromatic
Exec=polychromatic-helper --autostart
Encoding=UTF-8
Terminal=false
Categories=
