[Desktop Entry]
Type=Application
Version=1.0
Name=Polychromatic
GenericName=Device Manager for RGB Lighting
GenericName[de]=Geräte-Verwaltung für RGB-Beleuchtung
GenericName[fr]=Gestionnaire d'éclairage RGB des périphériques
GenericName[nl]=Beheerder voor apparaten met rgb-verlighting
GenericName[pt_BR]=Gerenciador de dispositivos para iluminação RGB
GenericName[zh_CN]=RGB 灯效设备管理器
Comment=Configure connected lighting peripherals
Comment[de]=Konfiguriere verbundene Beleuchtungsperipherie
Comment[fr]=Configuration lumineuse des périphériques
Comment[nl]=Stel verbonden randapparaten met verlichting in
Comment[pt_BR]=Configurar iluminação de periféricos conectados
Comment[zh_CN]=配置连接的灯效外设
Icon=polychromatic
Exec=polychromatic-controller
Encoding=UTF-8
Terminal=false
Categories=Settings;HardwareSettings;
Actions=devices;effects;tray-applet;
StartupWMClass=polychromatic-controller
#presets;triggers;

[Desktop Action devices]
Name=Configure Devices
Name[de]=Konfiguriere Geräte
Name[fr]=Configurer les périphériques
Name[nl]=Apparaten instellen
Name[pt_BR]=Configurar dispositivos
Name[zh_CN]=配置设备
Icon=/usr/share/polychromatic/img/general/controller.svg
Exec=polychromatic-controller --open devices

[Desktop Action effects]
Name=Edit Effects
Name[de]=Bearbeite Effekte
Name[fr]=Modifier les effets
Name[nl]=Effecten bewerken
Name[pt_BR]=Editar efeitos
Name[zh_CN]=编辑灯效
Icon=/usr/share/polychromatic/img/general/effects.svg
Exec=polychromatic-controller --open effects

#[Desktop Action presets]
#Name=Edit Presets
#Name[de]=Voreinstellungen bearbeiten
#Name[fr]=Modifier les présélections
#Name[nl]=Voorinstellingen bewerken
#Icon=/usr/share/polychromatic/img/general/presets.svg
#Exec=polychromatic-controller --open presets

#[Desktop Action triggers]
#Name=Edit Triggers
#Name[de]=Auslöser bearbeiten
#Name[fr]=Modifier les déclencheurs
#Name[nl]=Triggers bewerken
#Icon=/usr/share/polychromatic/img/general/triggers.svg
#Exec=polychromatic-controller --open triggers

[Desktop Action tray-applet]
Name=Tray Applet
Name[de]=Tray-Anwendung
Name[fr]=Applet de la zone de notification
Name[nl]=Systeemvakpictogram
Name[pt_BR]=Applet de bandeja
Name[zh_CN]=托盘程序
Icon=/usr/share/polychromatic/img/general/tray-applet.svg
Exec=polychromatic-tray-applet
