[Desktop Entry]
Type=Application
Version=1.0
Name=Polychromatic
GenericName=Device Manager for RGB Lighting
GenericName[fr]=Gestionnaire d'éclairage RGB des périphériques
GenericName[nl]=Beheerder voor apparaten met rgb-verlighting
Comment=Configure connected lighting peripherals
Comment[fr]=Configuration lumineuse des périphériques
Comment[nl]=Stel verbonden randapparaten met verlichting in
Icon=polychromatic
Exec=polychromatic-controller
Encoding=UTF-8
Terminal=false
Categories=Settings;HardwareSettings;
Actions=devices;effects;tray-applet;
StartupWMClass=polychromatic-controller
#presets;triggers;

[Desktop Action devices]
Name=Configure Devices
Name[fr]=Configurer les périphériques
Name[nl]=Apparaten instellen
Icon=/usr/share/polychromatic/img/general/controller.svg
Exec=polychromatic-controller --open devices

[Desktop Action effects]
Name=Edit Effects
Name[fr]=Modifier les effets
Name[nl]=Effecten bewerken
Icon=/usr/share/polychromatic/img/general/effects.svg
Exec=polychromatic-controller --open effects

#[Desktop Action presets]
#Name=Edit Presets
#Name[fr]=Modifier les présélections
#Name[nl]=Voorinstellingen bewerken
#Icon=/usr/share/polychromatic/img/general/presets.svg
#Exec=polychromatic-controller --open presets

#[Desktop Action triggers]
#Name=Edit Triggers
#Name[fr]=Modifier les déclencheurs
#Name[nl]=Triggers bewerken
#Icon=/usr/share/polychromatic/img/general/triggers.svg
#Exec=polychromatic-controller --open triggers

[Desktop Action tray-applet]
Name=Tray Applet
Name[fr]=Applet de la zone de notification
Name[nl]=Systeemvakpictogram
Icon=/usr/share/polychromatic/img/general/tray-applet.svg
Exec=polychromatic-tray-applet
