[Desktop Entry]
Categories=Utility;
Encoding=UTF-8
Name=Polychromatic Controller
Exec=polychromatic-controller
Icon=polychromatic
Terminal=false
Type=Application
Version=1.0
Comment=Set the behavior and appearance of connected Razer peripherals, such as setting an effect, brightness or key profile.
Comment[en_GB]=Set the behaviour and appearance of connected Razer peripherals, such as setting an effect, brightness or key profile.
