[Desktop Entry]
Categories=Utility;
Encoding=UTF-8
Name=Polychromatic Tray Applet
Exec=polychromatic-tray-applet
Icon=polychromatic
Terminal=false
Type=Application
Version=1.0
Comment=Control the behavior and appearance of connected Razer devices from the tray.
Comment[en_GB]=Control the behaviour and appearance of connected Razer devices from the tray.
