[Desktop Entry]
Categories=Utility;
Comment=A graphical front-end for managing your Razer peripherals.
Encoding=UTF-8
Exec=/usr/share/polychromatic/controller.py
Icon=/usr/share/polychromatic/data/img/app-icon.svg
Name=Polychromatic Controller
NoDisplay=false
Terminal=false
Type=Application
Version=1.0
