[Desktop Entry]
Categories=Utility;
Comment=A tool to quickly access the features of the Polychromatic Controller.
Encoding=UTF-8
Name=Polychromatic Tray Applet
Exec=polychromatic-tray-applet
Icon=polychromatic
NoDisplay=false
Terminal=false
Type=Application
Version=1.0
