[Desktop Entry]
Categories=Utility;
Comment=A graphical front-end for managing your Razer peripherals.
Encoding=UTF-8
Name=Polychromatic Controller
Exec=polychromatic-controller
Icon=polychromatic
NoDisplay=false
Terminal=false
Type=Application
Version=1.0
