/* Colour selectors */
.colour-selector {
    .current-colour {
        display: inline-block;
        height: $button-height - 4px;
        width: 5em;
        vertical-align: middle;

        & + button {
            vertical-align: middle;
        }
    }
}
