#modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    /* Less demanding */
    background: black;
    opacity: 0.5;
}

dialog {
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.dialog-box {
    margin: auto;
    padding: 1em 1.25em;
    padding-bottom: 0;
    background: $bg-colour-secondary;
    border: $accent-colour 1px solid;
    z-index: 100;

    /* Animations */
    &.in {
        animation: dialog-in $dialogue-speed ease-in-out forwards;
    }

    &.out {
        animation: dialog-out $dialogue-speed ease-in-out forwards;
    }
}

/* Inner */
.dialog-title {
    margin: 0;
    padding: 0 0 0.75em;
    border-bottom: 1px solid $bg-colour;
}

.dialog-inner {
    margin: 0;
    padding: 0.75em 0;
    color: $text-colour;
    font-size: 0.9em;
    max-width: 70vw;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    pre {
        white-space: break-spaces;
    }
}

.dialog-buttons {
    margin: 0;
    height: 2em;
    padding: 0.75em 0;
    text-align: right;
    border-top: 1px solid $bg-colour;

    button + button {
        margin-left: 0.5em;
    }
}

/* Dialog Variants */
@mixin dialog-variant($colour) {
    border-color: $colour;

    .dialog-title,
    code {
        color: $colour;
    }

    pre {
        color: lighten($colour, 20%);
    }

    button {
        &:hover,
        &:focus {
            color: $colour;
        }

        &:active {
            background-color: $colour;
            color: black;
        }
    }
}

.dialog-box.serious {
    @include dialog-variant($serious);
}

.dialog-box.warning {
    @include dialog-variant($warning);
}

/* Dialog Animations */
@keyframes dialog-in {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dialog-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.05);
        opacity: 0;
    }
}

@keyframes dialog-glow-green {
    0% {
        box-shadow: 0 0 2px $accent-colour;
    }
    50% {
        box-shadow: 0 0 10px $accent-colour;
    }
    100% {
        box-shadow: 0 0 2px $accent-colour;
    }
}
