footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-height;
    padding: $footer-padding-v $footer-padding-h;
    background-color: $bg-footer;
    align-items: right;
    justify-content: flex-end;

    button {
        margin: 0 2px;
    }
}

.footer-separator {
    margin: 0 auto;
}
