table {
    width: 100%;
    background: $bg-colour-secondary;
    border: 1px solid $bg-colour;
    border-collapse: collapse;

    &.no-grid {
        border: none;

        th, td {
            border: none;
        }
    }

    &.like-group {
        tr {
            th:first-child,
            td:first-child {
                border-right: 1px solid $bg-colour;
            }
        }
    }

    &.editable * {
        -webkit-user-select: auto;
    }

    &.transparent {
        background: transparent;
    }

    &.align-top {
        th, td {
            vertical-align: top;
        }
    }

    th, td {
        border: 1px solid $bg-colour;
        padding: 0.15em 0.5em;
        text-align: left;
        font-weight: normal;

        img {
            vertical-align: middle;
        }
    }

    .center {
        text-align: center;
    }

    .yes {
        color: $success;
    }

    .no {
        color: $serious;
    }
}
