/* Behave more like an application and not a webpage. */
html, body {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    background: $bg-gradient;
    overflow: hidden;
    cursor: default;
}

html {
    background: black;
}

body {
    animation: welcome 0.25s ease-out forwards;
    animation-delay: 0.25s;
    opacity: 0;
    margin: 0;
}

@keyframes welcome {
    0% {
        opacity: 0;
        transform: scale(0.975);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

img {
    -webkit-user-select: none;
    pointer-events: none;
}

a {
    -webkit-user-drag: none;
}

hr {
    border-color: $border-colour;
}

@font-face {
    font-family: "Play";
    src: url('../lib/Play-Regular.svg');
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: auto;
    -webkit-text-stroke-width: 0;
}

html, body, input, button {
    font-family: $font-family;
}

h1, h2, h3, h4, h5 {
    font-family: $font-family;
    font-weight: lighter;
    color: $accent-colour;
    margin-top: 1em;
    margin-bottom: 1em;
}

p, a, button, table, td, tr, label {
    font-family: $font-family;
    color: $text-colour;
}

p {
    margin: 1em;
    padding: 0;
}

/* For transitioning element states */
.start-hidden {
    visibility: hidden;
}

