content {
    position: fixed;
    top: $header-height + $tab-border-height + ($header-padding-v * 2);
    bottom: $footer-height + ($footer-padding-v * 2);
    padding: 0 $content-padding-h;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: $text-colour;
    font-size: 0.9em;
}

.group {
    display: flex;

    .left {
        width: 20%;
        margin: 1em;
        padding-left: 2em;
        padding-top: 0.1em;
    }

    .right {
        width: 80%;
        margin: 1em;
    }
}

.group-name {
    display: block;
    overflow: hidden;
    padding: 1em;
    opacity: 0.75;

    span {
        position: relative;
        padding: 0 0.25em;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 1000px;
            position: absolute;
            top: 0.575em;
            border-top: 1px solid lighten($border-colour, 20%);
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }
    }
}

code {
    display: inline-block;
    vertical-align: middle;
    color: $accent-colour;
    background: black;
    padding: 0.25em;
    margin: 0.25em;
    -webkit-user-select: auto;
    pointer-events: auto;
    cursor: text;
}

.warning-block {
    background: $bg-colour-secondary;
    color: $warning;
    border: 1px solid $warning;
    width: calc(100% - 1em);
    padding: 0.5em;

    img {
        height: 22px;
        width: 22px;
    }

    span, img {
        vertical-align: middle;
    }
}
