header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $header-height;
    padding: $header-padding-v $header-padding-h;
    background-image: url('../../img/header/generic.jpg');
    background-repeat: no-repeat;
    background-position: left -2px;
    background-size: 100%;
    font-weight: 600;
    border-bottom: 2px solid $border-colour;
    transition: background-image $header-transition ease-in-out;

    &.overview {
        background-image: url('../img/header/generic.jpg');
    }

    &.keyboard {
        background-image: url('../img/header/keyboard.png');
    }

    &.mouse {
        background-image: url('../img/header/mouse.png');
    }

    &.mousemat {
        background-image: url('../img/header/mousemat.png');
    }

    &.keypad {
        background-image: url('../img/header/keypad.png');
    }

    &.headset {
        background-image: url('../img/header/headset.png');
    }

    &.generic {
        background-image: url('../img/header/generic.jpg');
    }

    h3 {
        padding: 0;
        margin: 0;
        margin-top: 4px;
    }
}

