::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
    z-index: 100;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
    z-index: 100;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
    z-index: 100;
}
