.sidebar-container {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;

    > .left {
        position: fixed;
        top: $header-height + ($header-padding-v * 2) + 2px;
        left: 0;
        bottom: $footer-height + ($footer-padding-v * 2);
        width: $sidebar-width;
        background-color: $bg-sidebar;
        overflow-y: auto;

        .item-heading {
            color: $sidebar-heading;
            margin-top: 1em;
            padding: 0.25em;
            border-bottom: 1px solid darken($sidebar-heading, 40%);
        }

        .item {
            display: block;
            padding: 0.25em;
            border-bottom: 1px solid darken($sidebar-heading, 40%);
            background: transparent;
            border: none;
            width: 100%;
            text-align: left;

            img {
                vertical-align: middle;
                width: 1.7em;
            }

            span {
                padding: 0 0.1em;
            }

            &:hover,
            &:focus {
                background: lighten($bg-sidebar, 20%);
                color: white;
                text-decoration: none;
            }

            &.active {
                background: $secondary-colour;

                &:hover,
                &:focus {
                    color: white;
                    text-decoration: none;
                }
            }

            &:active {
                background: $accent-colour;

                img {
                    filter: brightness(0);
                }

                span {
                    color: black;
                }
            }

            &.dim {
                color: $disabled-colour;

                img {
                    filter: grayscale(1) brightness(0.5);
                }
            }
        }

        .item-group {
            .item {
                padding: 0.2em 1em;
            }
        }

        .loading {
            color: transparent !important;
            background: linear-gradient(270deg, lighten($bg-sidebar, 5%), lighten($bg-sidebar, 20%));
            background-size: 400% 400%;
            margin: 1em;
            height: 0.75em;
            width: calc(100% - 2.5em);
            animation: photocopier 1s ease infinite;
        }
    }

    > .right {
        position: fixed;
        top: $header-height + ($header-padding-v * 2) + 2px;
        left: $sidebar-width;
        right: 0;
        bottom: $footer-height + ($footer-padding-v * 2);
        padding: 0;
        overflow-y: auto;

        p {
            margin: 0;
            padding-bottom: 1em;
        }

        .loading-text {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            height: 2em;
            color: $sidebar-heading;
        }
    }
}

@keyframes photocopier {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
