/*
* The default dark and green brand for Polychromatic.
*/

/* Colours */
$accent-colour: #00FF00;
$secondary-colour: #008000;

$bg-colour: #323232;
$bg-colour-secondary: #000;
$bg-gradient: linear-gradient(#000, $bg-colour);
$bg-sidebar: #000;
$bg-tab: rgba(18,18,18,0.8);
$bg-disabled: #191919;
$bg-footer: #121212;
$bg-control: #808080;

$text-colour: #C4C4C4;
$border-colour: #2D2D2D;    // #404040?
$disabled-colour: #484848;
$active: #06FF00;
$active-dark: #0DA902;
$button-colour: #DED9CB;
$serious: #FF2222;
$serious-dark: darken($serious, 20%);
$warning: #FFFF00;
$success: #00FF00;
$hover-grey: #808080;
$sidebar-heading: #969696;

$spectrum1: #C500FF; // Purple
$spectrum2: #FF8900; // Orange
$spectrum3: #FBFF00; // Yellow
$spectrum4: #7CFF00; // Green
$spectrum5: #00FFD9; // Aqua
$spectrum6: #005AFF; // Blue
$spectrum7: #3D00FF; // Dark Blue

/* Fonts */
$font-family: 'Play', 'Ubuntu', 'DejaVu Sans', 'Open Sans', sans-serif;
$font-mono: 'Ubuntu Mono', 'Droid Sans Mono', 'FreeMono', 'Courier New', Courier, monospace;

/* Animations */
$transition-speed: 0.25s;
$dialogue-speed: $transition-speed;
$header-transition: $transition-speed;
$control-toggle-speed: 0.5s;
$sidebar-transition-speed: $transition-speed;

/* Dimensions */
$scrollbar-width: 16px;

$header-height: 64px;
$header-padding-v: 8px;
$header-padding-h: 8px;

$tab-height: 30px;
$tab-button-padding: 8px;
$tab-border-height: 2px;
$tab-icon-size: 20px;

$content-padding-v: 16px;
$content-padding-h: 0;

$footer-height: 32px;
$footer-padding-v: 8px;
$footer-padding-h: 16px;

$control-toggle-size: 16px;

$sidebar-width: 275px;
$sidebar-border-width: 3px;

$button-height: 30px;
