name: Unit Tests

on: [push, pull_request]

jobs:
  unit_tests:
    runs-on: ubuntu-20.04
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
        sudo apt-get update

        # Build Dependencies
        sudo apt-get install gettext sassc

        # Application Dependencies
        sudo apt-get install python3-colorama python3-colour python3-requests python3-setproctitle imagemagick
        sudo apt-get install gir1.2-gtk-3.0 gir1.2-appindicator3-0.1
        sudo apt-get install python3-pyqt5 python3-pyqt5.qtsvg python3-pyqt5.qtwebengine

    - name: Install OpenRazer Backend
      run: |
        git clone https://github.com/openrazer/openrazer --depth=1 "$GITHUB_WORKSPACE/openrazer"
        sudo add-apt-repository ppa:openrazer/daily
        sudo apt-get install openrazer-daemon python3-openrazer dbus-x11

    - name: Development Build
      run: |
        ./scripts/build-styles.sh
        ./scripts/build-locales.sh

    - name: Run Polychromatic Unit Tests
      run: |
        ./scripts/run-unit-tests.sh

    - name: Test OpenRazer Integration
      run: |
        eval $(sudo dbus-launch --sh-syntax)
        sudo -E ./tests/integration/openrazer/run_daemon.sh "$GITHUB_WORKSPACE/openrazer"
